:root {
  --large-padding: 16px;
  --default-padding: 12px;
  --little-padding: 8px;
  --system-top-bar-height: 34px;

  --system-top-bar-background-color: #181818;
  --system-top-bar-hover-background-color: #2d2e2e;
  --system-top-bar-child-background-color: #1f1f1f;
  --system-top-bar-child-hover-background-color: #323232;
  --system-top-bar-border-color: #454545;
  --system-top-bar-text-color: #e1e1e1;
}
html {
  font-size: 14px;
}
.fdr {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.fdc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.a-modal[aframe-injected] {
  display: none;
  pointer-events: none;
}
* {
  padding: 0px;
  margin: 0px;
}
.a-canvas.a-grab-cursor:hover {
  cursor: default !important;
}

.el-color-picker__panel {
  background-color: var(--el-color-picker-alpha-bg-a) !important;
}

/*  */

.aframe-component-item label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 6px;
}
.aframe-component-group {
  padding: 6px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.aframe-component-item {
  flex: 1;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}
.aframe-component-item + .aframe-component-item {
  margin-left: 12px;
}
.aframe-component-group .el-input-number--small {
  width: auto;
  flex: 1;
}
